{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    // "@nuxtjs/eslint-config"
  ],
  "rules": {
    "no-console": "off"
  },
  "parserOptions": {
    "project": "tsconfig.json",
    "tsconfigRootDir": "__dirname" // <-- this did the trick for me
  }
}
